<!-- <p id="notice"><%= notice %></p> -->
<div class="table-responsive">
<h1>Your Todos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Do This</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td>
          <% if todo.complete %>
            <%= content_tag :del, todo.title %>
            <% else %>
            <%= link_to todo.title, edit_todo_path(todo) %>
          <% end %>
        </td>
        <td><%= todo.notes %></td>
        <td><% unless todo.complete %>
            <%= link_to 'Mark Complete', todo_complete_path(todo.id), method: :put, role: :button, class: ["btn", "btn-default", "btn-xs"] %>
          <% end %></td>
        <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, role: :button, class: ["btn", "btn-default", "btn-xs"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Todo', new_todo_path, role: :button, class: ["btn", "btn-default", "btn-xs"] %>
