<!-- <p id="notice"><%= notice %></p> -->
<div class="table-responsive">
<h1>Your Todos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Do This</th>
      <th>Notes</th>
      <th>Complete</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr<% if todo.complete %> style="text-decoration: line-through"<% end %>>
        <td><%= link_to todo.title, edit_todo_path(todo) %></td>
        <td><%= todo.notes %></td>
        <td><% unless todo.complete %>
            <%= link_to 'Mark Complete', todo_complete_path(todo.id), method: :put, role: :button, class: 'btn btn-default btn-xs' %>
          <% end %></td>
        <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, role: :button, class: 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Todo', new_todo_path %>
