<!-- <p id="notice"><%= notice %></p> -->
<div class="table-responsive">
<h1>Your Todos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Do This</th>
      <th>Notes</th>
      <th>Complete</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= link_to todo.title, edit_todo_path(todo) %></td>
        <td><%= todo.notes %></td>
        <td><%= todo.complete %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Todo', new_todo_path %>
